body {
  background-color: #24353f;
}

.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input {
  color: white;
  background-color: black;
}

h1 {
  color: #17a2b8;
}


.logout {

  border:  1px #FFC107 solid;
}